/* app */

.mdl-layout__drawer-button button{
}


/* strona główna */

.header-color {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 300px;
  padding: 20px;
  border-radius: 10%;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  min-width: 270px;
  position: relative;
}
.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  padding: 20px;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin:auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
/* poniżej strona projektów */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* poniżej strona kontaktu   */
.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content:center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}
.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 50px;
  padding-right: 10px;
  padding-left: 5rem;
  text-align: center;
}

/* strona resume */

.resume-right-col {
  background:#27221F;
  color:white;
}
